body{
	background-image: url(space.jpg);
	align-items: center;
	font-family: 'Poppins', sans-serif;
}

.header{
	background-color: white;
	width: 100%;
	text-align: center;
	padding: 20px;
}

.input{
    color: white;
   margin-left: 580px;
   margin-top: 200px;

}
	